@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* remove tap highlight */
    -webkit-tap-highlight-color: transparent;

    /* prevent selecting text */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  html, body {
    /*
     * fill visible viewport
     * https://developers.google.com/web/updates/2016/12/url-bar-resizing
     */
    height: 100%;
  }

  /*
   * material-web theme
   *
   * https://material-web.dev/theming/material-theming/
   */
  :root,
  :host {
    /* typography */
    --md-ref-typeface-brand: Inter;
    --md-ref-typeface-plain: system-ui;

    /* color */
    --md-sys-color-background: #101319;
    --md-sys-color-on-background: #e0e2eb;
    --md-sys-color-surface: #101319;
    --md-sys-color-surface-dim: #101319;
    --md-sys-color-surface-bright: #363940;
    --md-sys-color-surface-container-lowest: #0b0e14;
    --md-sys-color-surface-container-low: #181c22;
    --md-sys-color-surface-container: #1c2026;
    --md-sys-color-surface-container-high: #272a30;
    --md-sys-color-surface-container-highest: #32353b;
    --md-sys-color-on-surface: #e0e2eb;
    --md-sys-color-surface-variant: #414752;
    --md-sys-color-on-surface-variant: #c1c6d4;
    --md-sys-color-inverse-surface: #e0e2eb;
    --md-sys-color-inverse-on-surface: #2d3037;
    --md-sys-color-outline: #8b919e;
    --md-sys-color-outline-variant: #414752;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #a6c8ff;
    --md-sys-color-primary: #a6c8ff;
    --md-sys-color-on-primary: #00315f;
    --md-sys-color-primary-container: #0067be;
    --md-sys-color-on-primary-container: #ffffff;
    --md-sys-color-inverse-primary: #005fb0;
    --md-sys-color-secondary: #afc8f2;
    --md-sys-color-on-secondary: #163154;
    --md-sys-color-secondary-container: #274064;
    --md-sys-color-on-secondary-container: #bdd5ff;
    --md-sys-color-tertiary: #edb1ff;
    --md-sys-color-on-tertiary: #530070;
    --md-sys-color-tertiary-container: #9148ad;
    --md-sys-color-on-tertiary-container: #ffffff;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
  }

  button {
    /* revert user-agent style */
    text-align: unset;
  }
}

@layer components {
  .state-layer {
    @apply relative before:absolute before:inset-0 before:transition before:opacity-0 before:overflow-hidden sm:before:hover:opacity-[.08] sm:before:focus:opacity-[.12] before:active:opacity-[.12];
  }

  .skeleton-loader {
    @apply relative isolate overflow-hidden;

    &::after {
      @apply absolute inset-0 bg-gradient-to-r from-transparent via-rose-100/10 to-transparent -translate-x-full animate-[shimmer_2s_infinite];
      content: '';
    }
  }

  .elevation-0 {
    box-shadow: none;
  }

  .elevation-1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  .elevation-2 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px 2px rgba(0, 0, 0, 0.15);
  }

  .elevation-3 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  }

  .elevation-4 {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 10px 4px rgba(0, 0, 0, 0.15);
  }

  .elevation-5 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 8px 12px 6px rgba(0, 0, 0, 0.15);
  }

  .material-symbols-outlined {
    transition: font-variation-settings 0.2s;
    font-variation-settings: 'FILL' var(--font-filled, 0), 'OPSZ' var(--font-opsz, 24);

    &.size-20 {
      --font-opsz: 20;
      font-size: 20px;
    }

    &.size-24 {
      --font-opsz: 24;
      font-size: 24px;
    }

    &.size-40 {
      --font-opsz: 40;
      font-size: 40px;
    }

    &.size-48 {
      --font-opsz: 48;
      font-size: 48px;
    }

    &.icon-outline {
      --font-filled: 0;
    }

    &.icon-filled {
      --font-filled: 1;
    }
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}
